<?xml version="1.0"?>

<robot name="taurob_tracker"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">
  
  <!--Required to quickly work around bug in collada_urdf (https://github.com/ros/robot_model/issues/132)-->
  <xacro:property name="box_scale_factor" value="1.0" />
  
  <xacro:include filename="$(find taurob_tracker_description)/urdf/tracker_chassis.urdf.xacro.xml" />
  <xacro:tracker_chassis_macro />
  
  <xacro:include filename="$(find taurob_tracker_description)/urdf/tracker_chassis_cameras.urdf.xacro.xml" />
  <xacro:tracker_chassis_cameras_macro />
  
  
  <!--Examples of adding additional robot parts below--> 
  <xacro:include filename="$(find taurob_arm_description)/urdf/taurob_arm_collision_geoms_simple.urdf.xacro.xml" />
  <xacro:include filename="$(find taurob_arm_description)/urdf/taurob_arm_macros.urdf.xacro.xml" />
  
  <xacro:taurob_arm_with_gripper_macro parent="base_link">
    <origin xyz="0.12 0 0.185" rpy="0 0 ${M_PI/2}"/>
  </xacro:taurob_arm_with_gripper_macro >
  
  
  <xacro:include filename="$(find hector_tracker_description)/urdf/tracker_sensor_head.urdf.xacro.xml" />
  <xacro:tracker_sensor_head_macro />
  
  <xacro:include filename="$(find hector_tracker_description)/urdf/tracker_stab_laser.urdf.xacro.xml" />
  <xacro:tracker_stab_laser_macro />
 
  <xacro:include filename="$(find hector_tracker_description)/urdf/tracker_structure_addons.urdf.xacro.xml" />
  <xacro:tracker_structure_addons_macro />
    
  <!--  
  <xacro:generic_camera name="left" parent="base_link" ros_topic="image_mono" cam_info_topic="camera_info" update_rate="10" res_x="640" res_y="480" image_format="L8" hfov="120">
    <origin xyz="${-0.285-0.17} ${0.14+0.05} ${0.627-0.11}" rpy="0 0 2.35619"/>
  </xacro:generic_camera>  
  
  <xacro:generic_camera name="right" parent="base_link" ros_topic="image_mono" cam_info_topic="camera_info" update_rate="10" res_x="640" res_y="480" image_format="L8" hfov="120">
    <origin xyz="${-0.285-0.17} ${0.14-0.05} ${0.627-0.11}" rpy="0 0 -2.35619"/>
  </xacro:generic_camera>
  -->

  <xacro:generic_camera name="arm_gripper_cam" parent="arm_link_4" ros_topic="image_raw" cam_info_topic="camera_info" update_rate="10" res_x="640" res_y="480" image_format="R8G8B8" hfov="80">
    <origin xyz="0 0.0 0.0" rpy="0 0 0"/>
  </xacro:generic_camera>    
  
  <!--
  <xacro:include filename="$(find hector_components_description)/urdf/spinning_hokuyo_utm30lx.urdf.xacro" />
  
  <spinning_hokuyo_utm30lx_lidar_mount_offset_macro parent="chassis_link" name="front" angle_deg="34">
  <origin xyz="0.0 0 0.0" rpy="0 ${45 * M_PI/180.0} 0"/>
  </spinning_hokuyo_utm30lx_lidar_mount_offset_macro >   
  -->
</robot>
